.hidden {
  display: none;
}

main {
  background-color: #f5f5f5;
  font-family: Charter, Georgia, Times, serif;
  font-size: 1.1875rem;
  line-height: 1.6;
}

footer {
  font-family: Charter, Georgia, Times, serif;
  color: white;
  background-color: #222;
}

.logo {
  font-family: Handlee, cursive;
  font-size: 40px;
  margin: 5px 10px;
  cursor: pointer;
  margin-right: auto;
}

footer .logo {
  margin-top: 30px;
}

footer p {
  line-height: 1.5;
}

footer h3 {
  margin: 50px 0 20px;
}

.footer-padding {
  padding: 20px 0 40px;
}

.connect-logo {
  max-width: 20px;
  max-height: 20px;
  margin-right: 10px;
}

.vertical-nav a {
  color: white;
  display: block;
  text-decoration: none;
  padding-bottom: 15px;
}

.bookmark {
  margin-top: 33px;
  margin-right: 5px;
  cursor: pointer;
}

.search-container {
  position: relative;
  display: inline-block;
  top: 10px;
  bottom: 10px;
  height: 50px;
  width: 50px;
}

.search {
  position: absolute;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 100%;
  z-index: 3;
  transition-duration: 0.4s;
}

.expandright {
  left: auto;
  right: 49px;
}

.mglass {
  display: inline-block;
  transform: rotate(-45deg);
  font-size: 35px;
  font-weight: 500;
}

.button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.searchbutton {
  position: absolute;
  font-size: 17px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.search:focus {
  width: 300px;
  border: 1px black solid;
  padding-left: 10px;
}

.text-align-center {
  text-align: center;
}

.align-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.relative {
  position: relative;
}

.hero-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.hero-text {
  font-family: Handlee, cursive;
  position: absolute;
  color: black;
  top: 40px;
  left: 0;
  right: 0;
  line-height: 80px;
}

.white-text {
  color: white;
}

form.search-box input {
  padding: 10px;
  font-size: 17px;
  background: white;
  border: 0;
  outline: none;
}

form.search-box button {
  width: 50px;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-size: 17px;
  border: 0;
  background-color: white;
  border-left: none;
  cursor: pointer;
}

.search-box {
  position: absolute;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 0 20px;
  bottom: 175px;
}

.full-content-block {
  background-color: white;
  width: 99%;
  margin: 30px 5px 10px;
  padding: 20px;
}

.half-boxes {
  background-color: white;
  width: 98%;
  height: 250px;
  margin: 5px 5px 10px;
}

.content-recipe-title {
  text-align: center;
  margin: 0 5px;
}

.content-links {
  text-decoration: none;
  color: black;
}

.img-content {
  width: 100%;
  padding: 5px 5px 0;
  height: 200px;
}

.h3-text-content {
  margin: 0 10px;
}

.p-text-description {
  line-height: 1.3;
  margin: 10px;
}

.ul-search-result {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.li-inline-block {
  display: inline-block;
  cursor: pointer;
}

.picture-card {
  width: 240px;
  height: 255px;
  max-width: 240px;
  max-height: 360px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(199 199 199);
  border-radius: 5px;
  box-shadow: 0 6px 6px -4px rgb(0 0 0 / 30%);
  background-color: white;
}

.picture-card:active {
  transform: translateY(1px);
}

.picture {
  width: 100%;
  height: 200px;
  max-width: 240px;
  max-height: 200px;
}

.card-title-text {
  padding: 5px;
  margin: 0;
  line-height: 1;
}

.margin-20px {
  margin: 20px;
}

.margin-left-20px {
  margin-left: 20px;
}

.serving-facts,
.serving-facts-last {
  padding: 5px 20px;
  margin-top: 0;
  text-align: center;
  width: 166px;
  border-top: 1px solid rgb(199 199 199);
  border-bottom: 1px solid rgb(199 199 199);
  white-space: pre;
}

.serving-facts {
  border-right: 1px solid rgb(199 199 199);
}

.image-ingredient-page {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.save-recipe {
  position: absolute;
  height: 35px;
  background: #e00d32;
  color: white;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  z-index: 1;
  cursor: pointer;
}

.save-recipe:hover {
  background: rgb(208, 0, 38);
}

.save-recipe:active {
  box-shadow: 0 0 #666;
  transform: translateY(1px);
}

.save-recipe-icon {
  position: absolute;
  color: white;
  left: 35px;
  right: 0;
  z-index: 2;
}

.save-recipe-font {
  font-family: Charter, Georgia, Times, serif;
}

.ingredient-title {
  margin-top: 0;
  margin-bottom: 0;
}

.ingredient-list {
  line-height: 1.3;
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}
