.hidden {
  display: none;
}

main {
  background-color: #f5f5f5;
  font-family: Charter, Georgia, Times, serif;
  font-size: 1.1875rem;
  line-height: 1.6;
}

.logo {
  font-family: Handlee, cursive;
  font-size: 40px;
  margin: 5px 10px;
}

.search-container {
  position: relative;
  display: inline-block;
  top: 10px;
  bottom: 10px;
  height: 50px;
  width: 50px;
}

.search {
  position: absolute;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 100%;
  z-index: 3;
  transition-duration: 0.4s;
}

.expandright {
  left: auto;
  right: 49px;
}

.mglass {
  display: inline-block;
  transform: rotate(-45deg);
  font-size: 30px;
  font-weight: 600;
}

.button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.searchbutton {
  position: absolute;
  font-size: 17px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.search:focus {
  width: 300px;
  border: 1px black solid;
  padding-left: 10px;
}

.text-align-center {
  text-align: center;
}

.align-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.relative {
  position: relative;
}

.hero-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.hero-text {
  font-family: Handlee, cursive;
  position: absolute;
  color: black;
  top: 40px;
  left: 0;
  right: 0;
  line-height: 80px;
}

.white-text {
  color: white;
}

form.search-box input {
  padding: 10px;
  font-size: 17px;
  background: white;
  border: 0;
  outline: none;
}

form.search-box button {
  width: 50px;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-size: 17px;
  border: 0;
  background-color: white;
  border-left: none;
  cursor: pointer;
}

.search-box {
  position: absolute;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 0 20px;
  bottom: 175px;
}

.ul-search-result {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.li-inline-block {
  display: inline-block;
  cursor: pointer;
}

.picture-card {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 360px;
  margin-left: 40px;
  margin-bottom: 40px;
  border: 1px solid rgb(199 199 199);
  border-radius: 5px;
  box-shadow: 0 6px 6px -4px rgb(0 0 0 / 30%);
  background-color: white;
}

.card-title-text {
  padding: 5px;
  margin: 0;
  line-height: 1;
}

.picture {
  width: 100%;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
}

.margin-20px {
  margin: 20px;
}

.serving-facts,
.serving-facts-last {
  padding: 5px 20px;
  margin-top: 0;
  text-align: center;
  width: 166px;
  border-top: 1px solid rgb(199 199 199);
  border-bottom: 1px solid rgb(199 199 199);
  white-space: pre;
}

.serving-facts {
  border-right: 1px solid rgb(199 199 199);
}

.image-ingredient-page {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 400px;
  margin-bottom: 20px;
}

.ingredient-title {
  margin-top: 0;
  margin-bottom: 0;
}

.ingredient-list {
  line-height: 1.3;
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}

.instructions-title {
  margin: 0 20px;
  padding-left: 0;
}

.instructions-list {
  margin: 20px;
}
